<h1>Data Science Tools and Ecosystem</h1>

<p>In this notebook, Data Science Tools and Ecosystem are summarized.</p>

<p>Some of the popular languages that Data Scientists use are:</p>
<ol>
    <li>Python</li>
    <li>Scala</li>
    <li>R</li>
    <li>Java</li>

<p>Some of the commonly used libraries used by Data Scientists include:</p>
<ol>
    <li>Scikit-learn (python)</li>
    <li>Numpy (python)</li>
    <li>Pandas (python)</li>
    <li>Matplotlib (python)</li>
    <li>ggplot (R)</li>
    <li>Seaborn (python)</li>
    <li>caret (R)</li>

| data Science Tools   |
|:---------------------|
|1. Jupyter Lab        |
|2. Google Colab       |
|3. Visual Studio code |

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [3]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

<p>Objectives</p>
<ul>
    <li>Create a Jupyter Notebook</li>
    <li>Create a markdown cell for an introduction</li>
    <li>Create a markdown cell with a table of Data Science tools</li>
    <li>Create a markdown cell to list data science libraries</li>

<h2>Author</h2>
<p>Shreyas Nandanwar</p>